<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/style.css">
    <script src="/assets/todo-list.js"></script>
    
</head>

<body>
    <div id="toDoList">
        <header>
            {{!--<form action="">--}}
                <h2>TO-DO list</h2>
                <input type="text" name="text" placeholder="add a new item..">
            {{!--</form>--}}
        </header>
        <section>
            <ul>
                {{#each todos}}
                  <li>{{this.item}}</li>
                {{/each}}
            </ul>
        </section>
    </div>
</body>

</html>